In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# 6.1  Reading and Writing Data in Text Format

read_csv 처럼 read_ 뒤에 확장자를 바꿔서 다양한 형태의 파일을 불러올 수 있다.
실제 데이터가 더러움에 따라 불러오는 함수도 복잡해짐....(read_csv만 해도 50개 parameter...)

In [5]:
# pandas.read_csv: type inference 따라서 어떤 col이 int, num 인지 이런거 specify 필요 없음
df = pd.read_csv('/Statistics/Data/HeartDisease.csv')
df

     Case   x1     x2  x3     x4  x5  HeartDisease
0       1  160   5.73   1  25.30  52             1
1       2  144   4.41   0  28.87  63             1
2       3  118   3.48   1  29.14  46             0
3       4  170   6.41   1  31.99  58             1
4       5  134   3.50   1  25.99  49             1
..    ...  ...    ...  ..    ...  ..           ...
457   459  214   5.98   0  28.45  58             0
458   460  182   4.41   0  28.61  52             1
459   461  108   1.59   0  20.09  55             0
460   462  118  11.61   0  27.35  40             0
461   463  132   4.82   1  14.70  46             1

[462 rows x 7 columns]

In [7]:
# 그냥 read_table이면 delimiter 사용(sep='')
pd.read_table('/Statistics/Data/HeartDisease.csv', sep=',')

     Case   x1     x2  x3     x4  x5  HeartDisease
0       1  160   5.73   1  25.30  52             1
1       2  144   4.41   0  28.87  63             1
2       3  118   3.48   1  29.14  46             0
3       4  170   6.41   1  31.99  58             1
4       5  134   3.50   1  25.99  49             1
..    ...  ...    ...  ..    ...  ..           ...
457   459  214   5.98   0  28.45  58             0
458   460  182   4.41   0  28.61  52             1
459   461  108   1.59   0  20.09  55             0
460   462  118  11.61   0  27.35  40             0
461   463  132   4.82   1  14.70  46             1

[462 rows x 7 columns]

In [8]:
# header 없이 출력
pd.read_csv('/Statistics/Data/HeartDisease.csv', header=None)
# 아니면 names=[]으로 column 이름 지정 가능

        0    1      2   3      4   5             6
0    Case   x1     x2  x3     x4  x5  HeartDisease
1       1  160   5.73   1   25.3  52             1
2       2  144   4.41   0  28.87  63             1
3       3  118   3.48   1  29.14  46             0
4       4  170   6.41   1  31.99  58             1
..    ...  ...    ...  ..    ...  ..           ...
458   459  214   5.98   0  28.45  58             0
459   460  182   4.41   0  28.61  52             1
460   461  108   1.59   0  20.09  55             0
461   462  118  11.61   0  27.35  40             0
462   463  132   4.82   1   14.7  46             1

[463 rows x 7 columns]

In [9]:
# index 역할을 하는 col 따로 지정
pd.read_csv('/Statistics/Data/HeartDisease.csv', index_col='Case')

       x1     x2  x3     x4  x5  HeartDisease
Case
1     160   5.73   1  25.30  52             1
2     144   4.41   0  28.87  63             1
3     118   3.48   1  29.14  46             0
4     170   6.41   1  31.99  58             1
5     134   3.50   1  25.99  49             1
...   ...    ...  ..    ...  ..           ...
459   214   5.98   0  28.45  58             0
460   182   4.41   0  28.61  52             1
461   108   1.59   0  20.09  55             0
462   118  11.61   0  27.35  40             0
463   132   4.82   1  14.70  46             1

[462 rows x 6 columns]

In [13]:
# hierarchical index
pd.read_csv('/Statistics/Data/HeartDisease.csv',index_col=['HeartDisease', 'x3'])

                 Case   x1     x2     x4  x5
HeartDisease x3
1            1      1  160   5.73  25.30  52
             0      2  144   4.41  28.87  63
0            1      3  118   3.48  29.14  46
1            1      4  170   6.41  31.99  58
             1      5  134   3.50  25.99  49
...               ...  ...    ...    ...  ..
0            0    459  214   5.98  28.45  58
1            0    460  182   4.41  28.61  52
0            0    461  108   1.59  20.09  55
             0    462  118  11.61  27.35  40
1            1    463  132   4.82  14.70  46

[462 rows x 5 columns]

delimiter에 따라 sep=''다르게 지정.
space 몇 칸이면 \s+

불러올 때, skiprows=[]로 건너뛸 행 지정

결측치는 .isnull로 확인
na_values=[] 로 NaN 지정할 data 명시

In [15]:
# 이런 option으로 display 더 압축적으로
pd.options.display.max_rows = 10
df # 10행만 보인다!

     Case   x1     x2  x3     x4  x5  HeartDisease
0       1  160   5.73   1  25.30  52             1
1       2  144   4.41   0  28.87  63             1
2       3  118   3.48   1  29.14  46             0
3       4  170   6.41   1  31.99  58             1
4       5  134   3.50   1  25.99  49             1
..    ...  ...    ...  ..    ...  ..           ...
457   459  214   5.98   0  28.45  58             0
458   460  182   4.41   0  28.61  52             1
459   461  108   1.59   0  20.09  55             0
460   462  118  11.61   0  27.35  40             0
461   463  132   4.82   1  14.70  46             1

[462 rows x 7 columns]

In [17]:
# 또는 그냥 nrows= 로 지정
pd.read_csv('/Statistics/Data/HeartDisease.csv', nrows=5)

   Case   x1    x2  x3     x4  x5  HeartDisease
0     1  160  5.73   1  25.30  52             1
1     2  144  4.41   0  28.87  63             1
2     3  118  3.48   1  29.14  46             0
3     4  170  6.41   1  31.99  58             1
4     5  134  3.50   1  25.99  49             1

In [32]:
# chunker로 호출 : chunksize만큼을 iterate할 수 있게됨
# 주로 엄청 큰 사이즈의 파일 분석할 때 사용
# 한번에 메모리가 감당을 못하니까!
chunker = pd.read_csv('/Statistics/Data/HeartDisease.csv', chunksize=462)
chunker

In [29]:
df.describe

<bound method NDFrame.describe of      Case   x1     x2  x3     x4  x5  HeartDisease
0       1  160   5.73   1  25.30  52             1
1       2  144   4.41   0  28.87  63             1
2       3  118   3.48   1  29.14  46             0
3       4  170   6.41   1  31.99  58             1
4       5  134   3.50   1  25.99  49             1
..    ...  ...    ...  ..    ...  ..           ...
457   459  214   5.98   0  28.45  58             0
458   460  182   4.41   0  28.61  52             1
459   461  108   1.59   0  20.09  55             0
460   462  118  11.61   0  27.35  40             0
461   463  132   4.82   1  14.70  46             1

[462 rows x 7 columns]>

In [34]:
tot = pd.Series([])
for piece in chunker:
    tot = tot.add(piece['x5'].value_counts(), fill_value=0)

tot = tot.sort_values(ascending=False)

C:\Users\minzz\anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

In [35]:
tot

16    20.0
58    17.0
17    17.0
61    16.0
59    16.0
      ...
47     3.0
15     3.0
23     2.0
19     2.0
35     1.0
Length: 49, dtype: float64

Writing data

data이름.to_csv('경로') 같이 쓰면 된다. 이때에도 sep으로 delimiter 지정하면 그걸로 구분된 파일이 저장됨.
결측치는 empty string으로 표현되는데, 바꾸려면 na_rep=''으로 지정
똑같이 index=False, header=False 등으로 row 와 column label 안 써지게 할 수 있다.
혹은 columns=[]으로 지정 가능
(Series 도 똑같이 가능)

In [3]:
# 또 다른 방법(이상한 경우들이 많으니까...)
import csv
f = open('/Statistics/Data/HeartDisease.csv')

reader = csv.reader(f)

In [37]:
# 이렇게 row 별로 list화 해서 출력
for line in reader:
    print(line)

['Case', 'x1', 'x2', 'x3', 'x4', 'x5', 'HeartDisease']
['1', '160', '5.73', '1', '25.3', '52', '1']
['2', '144', '4.41', '0', '28.87', '63', '1']
['3', '118', '3.48', '1', '29.14', '46', '0']
['4', '170', '6.41', '1', '31.99', '58', '1']
['5', '134', '3.5', '1', '25.99', '49', '1']
['6', '132', '6.47', '1', '30.77', '45', '0']
['7', '142', '3.38', '0', '20.81', '38', '0']
['8', '114', '4.59', '1', '23.11', '58', '1']
['9', '114', '3.83', '1', '24.86', '29', '0']
['10', '132', '5.8', '1', '30.11', '53', '1']
['11', '206', '2.95', '0', '26.81', '60', '1']
['12', '134', '4.44', '1', '23.09', '40', '1']
['13', '118', '1.88', '0', '21.57', '17', '0']
['14', '132', '1.87', '0', '23.63', '15', '0']
['15', '112', '2.29', '1', '23.53', '53', '0']
['16', '117', '2.44', '1', '25.89', '46', '0']
['17', '120', '15.33', '0', '25.31', '49', '0']
['18', '146', '8.29', '1', '32.73', '53', '1']
['19', '158', '7.46', '1', '29.3', '62', '1']
['20', '124', '6.23', '1', '30.09', '59', '1']
['21', '106', '1.74', '0', '20.92', '20', '1']
['22', '132', '2.85', '1', '26.16', '44', '0']
['23', '150', '6.38', '1', '24.64', '50', '0']
['24', '138', '3.81', '0', '28.7', '58', '0']
['25', '142', '4.34', '0', '26.19', '50', '0']
['26', '124', '12.42', '1', '23.23', '42', '1']
['27', '118', '9.65', '0', '38.8', '48', '0']
['28', '145', '5.24', '0', '20.96', '61', '1']
['29', '144', '5.55', '1', '29.43', '56', '0']
['30', '146', '6.62', '0', '28.07', '63', '1']
['31', '136', '3.95', '0', '21.86', '45', '1']
['32', '158', '6.33', '0', '22.13', '46', '1']
['33', '122', '5.58', '1', '28.07', '59', '1']
['34', '126', '6.53', '0', '30.25', '41', '1']
['35', '148', '7.1', '0', '29.84', '48', '0']
['36', '122', '4.44', '0', '19.49', '28', '1']
['37', '140', '7.32', '0', '27.36', '32', '0']
['38', '110', '4.55', '0', '30.9', '46', '0']
['39', '130', '2.82', '1', '24.86', '29', '0']
['40', '136', '5.81', '1', '27.68', '58', '1']
['41', '118', '5.8', '1', '30.98', '41', '1']
['42', '144', '3.38', '0', '23.75', '30', '0']
['43', '120', '1.07', '0', '22.15', '15', '0']
['44', '130', '2.72', '1', '26.29', '51', '1']
['45', '114', '2.99', '0', '46.58', '17', '0']
['46', '128', '3.31', '0', '22.95', '48', '0']
['47', '162', '8.55', '1', '25.71', '58', '1']
['48', '116', '7.56', '1', '30.01', '33', '1']
['49', '114', '1.94', '0', '20.17', '16', '0']
['50', '126', '3.88', '0', '30.53', '30', '0']
['51', '122', '5.75', '1', '29.01', '42', '0']
['52', '134', '3.66', '0', '27.19', '49', '0']
['53', '152', '9.12', '0', '28.64', '42', '1']
['54', '134', '1.55', '1', '22.65', '31', '1']
['55', '156', '1.82', '0', '23.91', '53', '0']
['56', '152', '7.99', '0', '26.57', '48', '0']
['57', '118', '2.99', '0', '23.83', '28', '0']
['58', '126', '2.96', '0', '25.52', '38', '1']
['59', '103', '4.21', '0', '22.94', '18', '0']
['60', '121', '5.29', '1', '22.51', '61', '0']
['61', '142', '1.8', '0', '23.65', '33', '0']
['62', '138', '5.09', '1', '25.65', '44', '0']
['63', '152', '4.71', '1', '26.21', '57', '0']
['64', '140', '4.3', '0', '27.23', '38', '0']
['65', '130', '1.82', '0', '22.07', '17', '0']
['66', '136', '2.19', '1', '25', '54', '0']
['67', '124', '3.24', '1', '28.49', '30', '0']
['68', '112', '1.88', '0', '22.08', '27', '0']
['69', '118', '7.27', '1', '29.01', '33', '0']
['70', '122', '3.37', '0', '21.06', '32', '1']
['71', '118', '3.67', '0', '19.15', '15', '0']
['72', '130', '2.66', '0', '17.81', '26', '0']
['73', '130', '3.37', '0', '25.76', '36', '0']
['74', '126', '5.03', '1', '17.75', '20', '0']
['75', '128', '6.17', '0', '27.86', '34', '0']
['76', '136', '4.12', '0', '21.66', '40', '0']
['77', '134', '5.9', '0', '29.16', '55', '0']
['78', '140', '5.56', '1', '27.19', '55', '1']
['79', '168', '6.68', '0', '24.25', '56', '1']
['80', '108', '5.91', '1', '25.72', '39', '0']
['81', '114', '7.04', '1', '22.59', '45', '1']
['82', '140', '4.93', '0', '45.72', '53', '1']
['83', '148', '6.09', '1', '25.44', '55', '1']
['84', '148', '3.79', '0', '26.38', '57', '1']
['85', '128', '2.43', '1', '20.75', '17', '0']
['86', '130', '3.3', '0', '27.52', '45', '0']
['87', '126', '4.49', '0', '19.37', '49', '1']
['88', '140', '5.08', '1', '27.83', '38', '0']
['89', '126', '5.64', '1', '21.94', '41', '0']
['90', '122', '4.04', '0', '28.34', '55', '0']
['91', '116', '2.83', '0', '21.59', '21', '0']
['92', '120', '4.02', '0', '30.57', '64', '1']
['93', '143', '2.4', '0', '29.17', '29', '0']
['94', '118', '3.95', '0', '25.15', '49', '1']
['95', '194', '6.32', '0', '30.16', '56', '0']
['96', '134', '4.37', '0', '20.54', '62', '0']
['97', '138', '4.9', '1', '26.06', '29', '0']
['98', '136', '5', '1', '27.59', '39', '0']
['99', '122', '11.32', '1', '27.07', '51', '1']
['100', '164', '3.91', '0', '23.44', '39', '0']
['101', '136', '7.85', '1', '22.69', '50', '0']
['102', '166', '4.03', '0', '28.37', '27', '0']
['103', '118', '4.34', '1', '32.18', '46', '0']
['104', '128', '4.6', '0', '30.97', '31', '0']
['105', '118', '5.38', '0', '28.63', '29', '0']
['106', '158', '2.97', '0', '26.64', '64', '0']
['107', '108', '4.33', '0', '22.29', '61', '1']
['108', '170', '5.5', '1', '37.41', '54', '1']
['109', '118', '5.76', '0', '23.48', '42', '0']
['110', '124', '3.04', '0', '22.04', '18', '0']
['111', '114', '8.01', '0', '25.51', '16', '0']
['112', '168', '8.53', '1', '26.18', '54', '1']
['113', '134', '3.66', '0', '21.03', '37', '0']
['114', '174', '8.46', '1', '25.27', '61', '1']
['115', '116', '3.17', '0', '19.4', '59', '1']
['116', '128', '10.58', '1', '28.41', '48', '0']
['117', '140', '4.59', '0', '21.91', '32', '1']
['118', '154', '5.91', '0', '20.6', '42', '0']
['119', '150', '6.99', '1', '23.35', '61', '1']
['120', '130', '3.92', '0', '28.02', '27', '0']
['121', '128', '6.13', '0', '22.86', '60', '0']
['122', '120', '6.25', '0', '25.85', '28', '0']
['123', '120', '5.01', '0', '26.21', '33', '0']
['124', '138', '2.85', '0', '24.78', '56', '1']
['125', '153', '3.96', '0', '25.91', '45', '0']
['126', '123', '11.17', '1', '33.14', '59', '1']
['127', '148', '3.99', '0', '27.78', '28', '0']
['128', '136', '2.76', '1', '34.42', '38', '0']
['129', '134', '7.41', '0', '29.44', '60', '1']
['130', '152', '4.04', '1', '34.57', '64', '0']
['131', '158', '5.04', '0', '24.79', '62', '0']
['132', '132', '3.08', '0', '31.44', '58', '1']
['133', '134', '3.73', '0', '24.7', '30', '1']
['134', '142', '5.52', '0', '29.29', '54', '0']
['135', '134', '3.3', '0', '26.09', '40', '0']
['136', '122', '9.05', '1', '24.05', '52', '1']
['137', '116', '3.69', '0', '21.13', '32', '0']
['138', '128', '3.7', '1', '21.25', '28', '0']
['139', '120', '3.68', '0', '20.52', '20', '0']
['140', '124', '3.95', '1', '32.83', '54', '0']
['141', '160', '5.9', '0', '33.87', '54', '1']
['142', '130', '4.89', '1', '19.3', '25', '1']
['143', '128', '5.53', '0', '24.97', '38', '0']
['144', '130', '5.86', '0', '31.21', '58', '0']
['145', '109', '6.14', '0', '24.72', '40', '0']
['146', '144', '3.84', '0', '22.1', '40', '0']
['147', '118', '3.16', '1', '22.09', '31', '0']
['148', '136', '6.38', '1', '28.73', '43', '1']
['149', '136', '6.06', '0', '29.38', '33', '1']
['150', '124', '5.05', '0', '23.22', '61', '1']
['151', '148', '6.49', '0', '24.7', '55', '0']
['152', '128', '3.58', '0', '24.15', '52', '0']
['153', '122', '4.19', '0', '25.63', '24', '0']
['154', '108', '2.74', '0', '22.61', '20', '0']
['155', '124', '4.8', '1', '21.78', '41', '1']
['156', '138', '3.12', '1', '23.33', '55', '1']
['157', '127', '2.81', '0', '22.03', '17', '0']
['158', '174', '5.13', '0', '30.71', '53', '0']
['159', '122', '3.05', '0', '25.81', '38', '0']
['160', '144', '5.45', '0', '25.62', '43', '1']
['161', '126', '6.22', '0', '24.81', '31', '0']
['162', '208', '3.12', '0', '27.45', '62', '1']
['163', '138', '2.68', '0', '22.16', '16', '0']
['164', '148', '3.84', '0', '20', '21', '0']
['165', '122', '3.08', '0', '22.13', '16', '0']
['166', '132', '3.2', '0', '23.64', '49', '0']
['167', '110', '4.99', '0', '27.14', '55', '1']
['168', '160', '8.12', '1', '25.87', '43', '1']
['169', '126', '4.39', '1', '25.99', '25', '0']
['170', '162', '7.95', '1', '36.06', '48', '0']
['171', '194', '6.89', '1', '29.33', '41', '0']
['172', '118', '2.58', '0', '24.46', '32', '0']
['173', '124', '4.79', '0', '26.09', '47', '0']
['174', '160', '2.42', '0', '29.83', '61', '0']
['175', '128', '2.51', '1', '22.05', '62', '0']
['176', '122', '5.24', '1', '26.52', '61', '1']
['177', '132', '2.7', '1', '27.95', '37', '0']
['178', '120', '2.42', '0', '20.16', '17', '0']
['179', '128', '8.22', '0', '26.24', '24', '0']
['180', '108', '4.91', '0', '27.96', '56', '0']
['181', '166', '4.31', '0', '30.14', '56', '0']
['182', '152', '6.06', '1', '40.34', '51', '0']
['183', '170', '4.67', '1', '27.14', '60', '1']
['184', '156', '2.05', '1', '21.48', '39', '1']
['185', '116', '6.73', '1', '26.74', '48', '1']
['186', '122', '3.18', '1', '21.94', '33', '1']
['187', '150', '6.4', '0', '28.88', '63', '0']
['188', '129', '5.17', '0', '25.42', '39', '0']
['189', '134', '6.58', '1', '24.73', '63', '0']
['190', '126', '5.98', '1', '25.39', '64', '1']
['191', '142', '3.72', '0', '24.37', '40', '1']
['192', '128', '4.9', '1', '35.94', '49', '1']
['193', '102', '3.41', '1', '23.59', '39', '1']
['194', '130', '4.89', '0', '30.42', '23', '0']
['195', '138', '2.79', '0', '21.62', '18', '0']
['196', '138', '1.96', '1', '22.01', '21', '0']
['197', '128', '3.09', '0', '25.63', '17', '0']
['198', '162', '3.63', '0', '31.59', '42', '0']
['199', '160', '9.19', '1', '28.25', '54', '1']
['200', '148', '4.66', '0', '25.26', '27', '0']
['201', '124', '2.44', '0', '24.58', '23', '0']
['202', '136', '4.37', '1', '25.12', '31', '1']
['203', '134', '5.51', '0', '29.87', '33', '0']
['204', '128', '3.97', '0', '23.81', '64', '0']
['205', '122', '3.59', '1', '24.96', '58', '0']
['206', '152', '4.64', '0', '29.34', '40', '0']
['207', '162', '5.09', '1', '26.71', '18', '0']
['208', '124', '6.65', '1', '28.4', '60', '0']
['209', '136', '5.9', '0', '25.71', '59', '0']
['210', '136', '4.26', '1', '31.44', '60', '0']
['211', '134', '8.03', '0', '26.88', '60', '0']
['212', '122', '5.88', '1', '31.27', '40', '1']
['213', '116', '3.05', '0', '23.63', '44', '0']
['214', '132', '0.98', '0', '26.75', '53', '0']
['215', '134', '2.4', '0', '22.45', '18', '0']
['216', '160', '8.07', '0', '31.15', '62', '1']
['217', '180', '4.23', '0', '22.56', '45', '1']
['218', '124', '6.16', '0', '21.47', '26', '0']
['219', '114', '4.97', '0', '22.6', '25', '0']
['220', '208', '7.41', '0', '27.62', '57', '0']
['221', '138', '3.14', '0', '20.28', '16', '0']
['222', '164', '6.95', '1', '41.76', '46', '1']
['223', '144', '8.13', '0', '27.38', '60', '0']
['224', '136', '7.39', '1', '25.01', '45', '1']
['225', '132', '3.52', '0', '19.48', '56', '0']
['226', '143', '4.86', '0', '24.69', '42', '0']
['227', '112', '7.18', '1', '27.29', '32', '1']
['228', '134', '3.79', '0', '28.33', '52', '1']
['229', '138', '5.11', '1', '27.25', '64', '1']
['230', '188', '5.47', '1', '28.99', '50', '1']
['231', '110', '3.36', '1', '26.08', '58', '1']
['232', '136', '7.18', '0', '29.19', '62', '0']
['233', '130', '5.46', '0', '29.42', '58', '1']
['234', '122', '3.76', '0', '24.36', '30', '0']
['235', '138', '3.24', '0', '25.7', '29', '0']
['236', '130', '4.13', '0', '27.44', '51', '1']
['237', '126', '3.78', '0', '28.85', '61', '0']
['238', '176', '4.89', '1', '27.3', '57', '0']
['239', '122', '5.49', '0', '23.12', '27', '0']
['240', '124', '3.23', '0', '22.7', '16', '0']
['241', '140', '3.58', '0', '27.29', '45', '1']
['242', '128', '4.37', '1', '26.01', '47', '0']
['243', '190', '5.05', '0', '26.09', '41', '0']
['244', '144', '10.53', '0', '34.35', '55', '1']
['245', '126', '7.4', '1', '28.67', '60', '1']
['246', '128', '2.63', '0', '21.59', '57', '0']
['247', '136', '3.91', '1', '22.3', '56', '1']
['248', '158', '4.18', '1', '25.11', '60', '0']
['249', '160', '6.94', '0', '25.68', '64', '0']
['250', '124', '5.21', '1', '29.37', '58', '1']
['251', '158', '8.12', '0', '27.84', '48', '0']
['252', '128', '6.34', '0', '23.14', '17', '0']
['253', '166', '3.82', '0', '20.86', '63', '1']
['254', '146', '7.21', '1', '22.51', '42', '0']
['255', '161', '4.65', '1', '23.76', '46', '0']
['256', '164', '6.26', '1', '22.75', '54', '1']
['257', '146', '7.03', '1', '36.46', '37', '1']
['258', '142', '3.57', '1', '23.54', '49', '0']
['259', '138', '5.13', '0', '24.49', '58', '1']
['260', '154', '7.13', '1', '35.51', '44', '0']
['261', '118', '2.39', '0', '18.46', '17', '1']
['263', '124', '2.69', '1', '22.76', '20', '0']
['264', '124', '2.84', '1', '20.17', '61', '0']
['265', '136', '4.19', '1', '27.8', '35', '0']
['266', '132', '4.63', '1', '23.39', '52', '1']
['267', '118', '1.96', '0', '20.01', '18', '0']
['268', '118', '4.16', '0', '19.61', '17', '0']
['269', '134', '4.96', '0', '24.86', '57', '0']
['270', '114', '3.95', '1', '20.31', '16', '0']
['271', '136', '7.84', '1', '26.2', '45', '1']
['272', '130', '4.16', '1', '30.01', '55', '1']
['273', '136', '4.16', '0', '37.24', '41', '1']
['274', '136', '3.16', '1', '24.98', '24', '0']
['275', '154', '5.59', '0', '25.02', '43', '0']
['276', '108', '2.47', '0', '22.18', '55', '1']
['277', '136', '4.69', '1', '26.56', '63', '1']
['278', '174', '6.57', '1', '28.75', '64', '1']
['279', '124', '8.22', '0', '25.8', '43', '0']
['280', '114', '2.63', '0', '17.89', '16', '0']
['281', '118', '3.26', '0', '22.65', '16', '0']
['282', '106', '4.37', '0', '24.07', '28', '1']
['283', '146', '3.51', '0', '22.29', '42', '0']
['284', '206', '4.17', '0', '27.36', '50', '1']
['285', '134', '3.17', '0', '26.37', '27', '0']
['286', '148', '4.98', '1', '31.83', '41', '1']
['287', '126', '3.95', '0', '22.17', '17', '0']
['288', '134', '3.69', '0', '27.66', '19', '0']
['289', '134', '2.8', '0', '24.82', '17', '0']
['290', '123', '4.61', '0', '23.23', '16', '0']
['291', '112', '5.28', '0', '27.02', '38', '1']
['292', '112', '1.71', '0', '22.03', '16', '0']
['293', '101', '7.26', '0', '19.82', '16', '0']
['294', '150', '4.14', '0', '23.43', '44', '0']
['295', '170', '7.22', '1', '27.87', '56', '1']
['296', '134', '5.63', '0', '32.33', '34', '0']
['297', '142', '4.19', '0', '23.65', '42', '1']
['298', '132', '3.28', '0', '20.42', '17', '0']
['299', '136', '2.28', '0', '22.59', '17', '0']
['300', '132', '4.51', '0', '26.07', '46', '1']
['301', '166', '4', '1', '29.51', '53', '0']
['302', '138', '3.96', '1', '23.8', '45', '0']
['303', '138', '6.41', '0', '30.22', '32', '1']
['304', '170', '3.12', '0', '35.42', '53', '0']
['305', '128', '8.41', '1', '26.86', '59', '1']
['306', '136', '2.78', '0', '22.51', '27', '0']
['307', '128', '3.22', '1', '26.59', '49', '0']
['308', '150', '5.04', '1', '28.84', '45', '0']
['309', '132', '3.57', '0', '18.75', '59', '1']
['310', '142', '2.55', '0', '26.09', '37', '0']
['311', '130', '2.44', '1', '30.86', '34', '0']
['312', '174', '5.26', '1', '22.04', '59', '1']
['313', '114', '2.51', '0', '25.67', '46', '0']
['314', '162', '2.46', '1', '24.32', '59', '1']
['315', '174', '3.27', '0', '37.71', '44', '0']
['316', '190', '6.03', '0', '30.31', '50', '0']
['317', '154', '1.72', '0', '22.67', '59', '0']
['318', '124', '2.28', '1', '22.24', '38', '0']
['319', '114', '3.98', '0', '23.79', '26', '0']
['320', '168', '5.08', '1', '27.04', '59', '1']
['321', '142', '4.24', '0', '24.98', '51', '0']
['322', '154', '4.81', '1', '25.67', '59', '0']
['323', '146', '4.31', '1', '24.72', '38', '0']
['324', '166', '3.02', '0', '24.38', '61', '0']
['325', '140', '3.9', '1', '28.51', '64', '1']
['326', '136', '3.53', '0', '19.44', '55', '0']
['327', '156', '3.47', '0', '28.4', '36', '1']
['328', '132', '6.63', '1', '29.41', '62', '0']
['329', '128', '2.98', '0', '20.74', '19', '0']
['330', '106', '3.2', '0', '20.29', '39', '0']
['331', '144', '4.64', '0', '27.39', '55', '0']
['332', '154', '2.33', '0', '24', '17', '0']
['333', '126', '2.01', '1', '28.63', '45', '0']
['334', '134', '8.49', '1', '28.94', '51', '1']
['335', '152', '4.22', '0', '23.95', '59', '1']
['336', '146', '6.39', '0', '26.43', '59', '1']
['337', '162', '4.55', '1', '27.09', '43', '0']
['338', '130', '3.56', '1', '26.8', '58', '1']
['339', '138', '7.24', '0', '28.69', '59', '0']
['340', '148', '5.32', '1', '32.21', '27', '0']
['341', '124', '2.94', '0', '30.31', '30', '0']
['342', '118', '9.01', '0', '25.89', '40', '0']
['343', '116', '7.02', '1', '23.31', '52', '1']
['344', '162', '5.73', '1', '20.43', '53', '1']
['345', '138', '1.87', '0', '26.76', '31', '0']
['346', '137', '3.14', '0', '24.13', '37', '0']
['347', '198', '11.89', '1', '28.4', '26', '1']
['348', '154', '4.75', '1', '25.76', '53', '1']
['349', '128', '2.36', '0', '18.36', '61', '0']
['350', '130', '5.59', '1', '24.98', '43', '1']
['351', '162', '4.24', '0', '22.91', '60', '0']
['352', '120', '2.7', '1', '24.5', '49', '0']
['353', '136', '2.58', '1', '22.41', '36', '0']
['354', '176', '8.28', '1', '27.81', '58', '1']
['355', '134', '4.01', '1', '21.79', '61', '1']
['356', '122', '5.28', '1', '24.08', '54', '0']
['357', '134', '3.18', '1', '23.26', '58', '1']
['358', '134', '2.43', '0', '26.49', '24', '0']
['359', '136', '6.08', '0', '33.28', '49', '0']
['360', '132', '5.15', '1', '26.67', '50', '0']
['361', '152', '3.58', '0', '27.03', '32', '0']
['362', '132', '5.96', '1', '30.12', '62', '1']
['363', '124', '3.67', '0', '28.08', '34', '0']
['364', '140', '2.91', '1', '24.7', '48', '0']
['365', '166', '2.42', '1', '26.96', '60', '0']
['366', '156', '5.35', '1', '25.22', '52', '1']
['367', '132', '4.37', '0', '26.11', '28', '0']
['368', '150', '4.99', '0', '30.92', '24', '0']
['369', '134', '3.4', '1', '26.27', '30', '0']
['370', '126', '4.87', '1', '22.01', '38', '0']
['371', '148', '5.97', '0', '29.27', '42', '0']
['372', '148', '7.75', '1', '26.53', '64', '1']
['373', '132', '5.97', '1', '24.18', '41', '0']
['374', '128', '5.41', '0', '29.38', '32', '0']
['375', '128', '4.9', '1', '26.42', '64', '0']
['376', '140', '2.4', '1', '30.74', '29', '0']
['377', '126', '5.29', '0', '27.62', '45', '0']
['378', '114', '4.16', '0', '24.49', '31', '0']
['379', '118', '4.69', '1', '27.16', '53', '0']
['380', '126', '4.99', '0', '33.35', '38', '0']
['381', '154', '4.68', '0', '33.17', '64', '1']
['382', '112', '2.71', '0', '24.81', '52', '0']
['383', '140', '4.42', '1', '32.77', '44', '0']
['384', '140', '11.41', '1', '30.75', '38', '1']
['385', '128', '4.94', '0', '21.3', '31', '0']
['386', '126', '6.03', '0', '26.99', '44', '0']
['387', '160', '6.76', '1', '32.91', '54', '1']
['388', '144', '4.17', '1', '21.83', '59', '0']
['389', '148', '10.49', '0', '25.92', '53', '1']
['390', '146', '4.92', '0', '24.2', '26', '0']
['391', '164', '3.17', '1', '25.99', '53', '1']
['392', '130', '3.63', '1', '24.34', '39', '1']
['393', '154', '5.63', '1', '35.07', '50', '1']
['394', '178', '4.75', '0', '23.74', '61', '0']
['395', '180', '3.57', '0', '26.7', '64', '0']
['396', '134', '2.73', '0', '35.58', '48', '0']
['397', '142', '3.54', '0', '25.97', '27', '0']
['398', '162', '7.67', '1', '30.77', '62', '0']
['399', '218', '2.77', '0', '24.86', '48', '1']
['400', '126', '6.06', '1', '27', '55', '1']
['401', '126', '3.57', '0', '26.3', '47', '0']
['402', '134', '4.77', '0', '23.82', '49', '0']
['403', '132', '4.17', '0', '30.61', '49', '0']
['404', '178', '3.79', '1', '21.26', '62', '1']
['405', '208', '5.19', '1', '25.12', '58', '1']
['406', '160', '10.19', '0', '31.65', '57', '0']
['407', '116', '5.67', '1', '27.26', '51', '0']
['408', '180', '3.7', '1', '30.54', '61', '1']
['409', '200', '4.43', '1', '32.04', '60', '1']
['410', '112', '3.58', '0', '26.83', '40', '0']
['411', '120', '3.1', '0', '24.8', '16', '0']
['412', '178', '9.78', '0', '27.29', '62', '1']
['413', '166', '5.63', '0', '34.72', '60', '0']
['414', '164', '14.16', '0', '28.5', '55', '1']
['415', '216', '2.66', '1', '20.58', '63', '1']
['416', '146', '5.62', '1', '31.03', '46', '0']
['417', '134', '3.54', '1', '24.54', '39', '1']
['418', '158', '5.56', '0', '25.92', '60', '0']
['419', '176', '3.14', '1', '30.18', '45', '0']
['420', '132', '4.79', '1', '22.15', '48', '0']

In [4]:
# list로 출력한 뒤
with open('/Statistics/Data/HeartDisease.csv') as f:
    lines = list(csv.reader(f))
lines

[['Case', 'x1', 'x2', 'x3', 'x4', 'x5', 'HeartDisease'],
 ['1', '160', '5.73', '1', '25.3', '52', '1'],
 ['2', '144', '4.41', '0', '28.87', '63', '1'],
 ['3', '118', '3.48', '1', '29.14', '46', '0'],
 ['4', '170', '6.41', '1', '31.99', '58', '1'],
 ['5', '134', '3.5', '1', '25.99', '49', '1'],
 ['6', '132', '6.47', '1', '30.77', '45', '0'],
 ['7', '142', '3.38', '0', '20.81', '38', '0'],
 ['8', '114', '4.59', '1', '23.11', '58', '1'],
 ['9', '114', '3.83', '1', '24.86', '29', '0'],
 ['10', '132', '5.8', '1', '30.11', '53', '1'],
 ['11', '206', '2.95', '0', '26.81', '60', '1'],
 ['12', '134', '4.44', '1', '23.09', '40', '1'],
 ['13', '118', '1.88', '0', '21.57', '17', '0'],
 ['14', '132', '1.87', '0', '23.63', '15', '0'],
 ['15', '112', '2.29', '1', '23.53', '53', '0'],
 ['16', '117', '2.44', '1', '25.89', '46', '0'],
 ['17', '120', '15.33', '0', '25.31', '49', '0'],
 ['18', '146', '8.29', '1', '32.73', '53', '1'],
 ['19', '158', '7.46', '1', '29.3', '62', '1'],
 ['20', '124', '6.23', '1', '30.09', '59', '1'],
 ['21', '106', '1.74', '0', '20.92', '20', '1'],
 ['22', '132', '2.85', '1', '26.16', '44', '0'],
 ['23', '150', '6.38', '1', '24.64', '50', '0'],
 ['24', '138', '3.81', '0', '28.7', '58', '0'],
 ['25', '142', '4.34', '0', '26.19', '50', '0'],
 ['26', '124', '12.42', '1', '23.23', '42', '1'],
 ['27', '118', '9.65', '0', '38.8', '48', '0'],
 ['28', '145', '5.24', '0', '20.96', '61', '1'],
 ['29', '144', '5.55', '1', '29.43', '56', '0'],
 ['30', '146', '6.62', '0', '28.07', '63', '1'],
 ['31', '136', '3.95', '0', '21.86', '45', '1'],
 ['32', '158', '6.33', '0', '22.13', '46', '1'],
 ['33', '122', '5.58', '1', '28.07', '59', '1'],
 ['34', '126', '6.53', '0', '30.25', '41', '1'],
 ['35', '148', '7.1', '0', '29.84', '48', '0'],
 ['36', '122', '4.44', '0', '19.49', '28', '1'],
 ['37', '140', '7.32', '0', '27.36', '32', '0'],
 ['38', '110', '4.55', '0', '30.9', '46', '0'],
 ['39', '130', '2.82', '1', '24.86', '29', '0'],
 ['40', '136', '5.81', '1', '27.68', '58', '1'],
 ['41', '118', '5.8', '1', '30.98', '41', '1'],
 ['42', '144', '3.38', '0', '23.75', '30', '0'],
 ['43', '120', '1.07', '0', '22.15', '15', '0'],
 ['44', '130', '2.72', '1', '26.29', '51', '1'],
 ['45', '114', '2.99', '0', '46.58', '17', '0'],
 ['46', '128', '3.31', '0', '22.95', '48', '0'],
 ['47', '162', '8.55', '1', '25.71', '58', '1'],
 ['48', '116', '7.56', '1', '30.01', '33', '1'],
 ['49', '114', '1.94', '0', '20.17', '16', '0'],
 ['50', '126', '3.88', '0', '30.53', '30', '0'],
 ['51', '122', '5.75', '1', '29.01', '42', '0'],
 ['52', '134', '3.66', '0', '27.19', '49', '0'],
 ['53', '152', '9.12', '0', '28.64', '42', '1'],
 ['54', '134', '1.55', '1', '22.65', '31', '1'],
 ['55', '156', '1.82', '0', '23.91', '53', '0'],
 ['56', '152', '7.99', '0', '26.57', '48', '0'],
 ['57', '118', '2.99', '0', '23.83', '28', '0'],
 ['58', '126', '2.96', '0', '25.52', '38', '1'],
 ['59', '103', '4.21', '0', '22.94', '18', '0'],
 ['60', '121', '5.29', '1', '22.51', '61', '0'],
 ['61', '142', '1.8', '0', '23.65', '33', '0'],
 ['62', '138', '5.09', '1', '25.65', '44', '0'],
 ['63', '152', '4.71', '1', '26.21', '57', '0'],
 ['64', '140', '4.3', '0', '27.23', '38', '0'],
 ['65', '130', '1.82', '0', '22.07', '17', '0'],
 ['66', '136', '2.19', '1', '25', '54', '0'],
 ['67', '124', '3.24', '1', '28.49', '30', '0'],
 ['68', '112', '1.88', '0', '22.08', '27', '0'],
 ['69', '118', '7.27', '1', '29.01', '33', '0'],
 ['70', '122', '3.37', '0', '21.06', '32', '1'],
 ['71', '118', '3.67', '0', '19.15', '15', '0'],
 ['72', '130', '2.66', '0', '17.81', '26', '0'],
 ['73', '130', '3.37', '0', '25.76', '36', '0'],
 ['74', '126', '5.03', '1', '17.75', '20', '0'],
 ['75', '128', '6.17', '0', '27.86', '34', '0'],
 ['76', '136', '4.12', '0', '21.66', '40', '0'],
 ['77', '134', '5.9', '0', '29.16', '55', '0'],
 ['78', '140', '5.56', '1', '27.19', '55', '1'],
 ['79', '168', '6.68', '0', '24.25', '56', '1'],
 ['80', '108', '5.91', '1', '25.72', '39', '0'],
 ['81', '114', '7.04', '1', '22.59', '45', '1'],
 ['82', '140', '4.93', '0', '45.72', '53', '1'],
 ['83', '148', '6.09', '1', '25.44', '55', '1'],
 ['84', '148', '3.79', '0', '26.38', '57', '1'],
 ['85', '128', '2.43', '1', '20.75', '17', '0'],
 ['86', '130', '3.3', '0', '27.52', '45', '0'],
 ['87', '126', '4.49', '0', '19.37', '49', '1'],
 ['88', '140', '5.08', '1', '27.83', '38', '0'],
 ['89', '126', '5.64', '1', '21.94', '41', '0'],
 ['90', '122', '4.04', '0', '28.34', '55', '0'],
 ['91', '116', '2.83', '0', '21.59', '21', '0'],
 ['92', '120', '4.02', '0', '30.57', '64', '1'],
 ['93', '143', '2.4', '0', '29.17', '29', '0'],
 ['94', '118', '3.95', '0', '25.15', '49', '1'],
 ['95', '194', '6.32', '0', '30.16', '56', '0'],
 ['96', '134', '4.37', '0', '20.54', '62', '0'],
 ['97', '138', '4.9', '1', '26.06', '29', '0'],
 ['98', '136', '5', '1', '27.59', '39', '0'],
 ['99', '122', '11.32', '1', '27.07', '51', '1'],
 ['100', '164', '3.91', '0', '23.44', '39', '0'],
 ['101', '136', '7.85', '1', '22.69', '50', '0'],
 ['102', '166', '4.03', '0', '28.37', '27', '0'],
 ['103', '118', '4.34', '1', '32.18', '46', '0'],
 ['104', '128', '4.6', '0', '30.97', '31', '0'],
 ['105', '118', '5.38', '0', '28.63', '29', '0'],
 ['106', '158', '2.97', '0', '26.64', '64', '0'],
 ['107', '108', '4.33', '0', '22.29', '61', '1'],
 ['108', '170', '5.5', '1', '37.41', '54', '1'],
 ['109', '118', '5.76', '0', '23.48', '42', '0'],
 ['110', '124', '3.04', '0', '22.04', '18', '0'],
 ['111', '114', '8.01', '0', '25.51', '16', '0'],
 ['112', '168', '8.53', '1', '26.18', '54', '1'],
 ['113', '134', '3.66', '0', '21.03', '37', '0'],
 ['114', '174', '8.46', '1', '25.27', '61', '1'],
 ['115', '116', '3.17', '0', '19.4', '59', '1'],
 ['116', '128', '10.58', '1', '28.41', '48', '0'],
 ['117', '140', '4.59', '0', '21.91', '32', '1'],
 ['118', '154', '5.91', '0', '20.6', '42', '0'],
 ['119', '150', '6.99', '1', '23.35', '61', '1'],
 ['120', '130', '3.92', '0', '28.02', '27', '0'],
 ['121', '128', '6.13', '0', '22.86', '60', '0'],
 ['122', '120', '6.25', '0', '25.85', '28', '0'],
 ['123', '120', '5.01', '0', '26.21', '33', '0'],
 ['124', '138', '2.85', '0', '24.78', '56', '1'],
 ['125', '153', '3.96', '0', '25.91', '45', '0'],
 ['126', '123', '11.17', '1', '33.14', '59', '1'],
 ['127', '148', '3.99', '0', '27.78', '28', '0'],
 ['128', '136', '2.76', '1', '34.42', '38', '0'],
 ['129', '134', '7.41', '0', '29.44', '60', '1'],
 ['130', '152', '4.04', '1', '34.57', '64', '0'],
 ['131', '158', '5.04', '0', '24.79', '62', '0'],
 ['132', '132', '3.08', '0', '31.44', '58', '1'],
 ['133', '134', '3.73', '0', '24.7', '30', '1'],
 ['134', '142', '5.52', '0', '29.29', '54', '0'],
 ['135', '134', '3.3', '0', '26.09', '40', '0'],
 ['136', '122', '9.05', '1', '24.05', '52', '1'],
 ['137', '116', '3.69', '0', '21.13', '32', '0'],
 ['138', '128', '3.7', '1', '21.25', '28', '0'],
 ['139', '120', '3.68', '0', '20.52', '20', '0'],
 ['140', '124', '3.95', '1', '32.83', '54', '0'],
 ['141', '160', '5.9', '0', '33.87', '54', '1'],
 ['142', '130', '4.89', '1', '19.3', '25', '1'],
 ['143', '128', '5.53', '0', '24.97', '38', '0'],
 ['144', '130', '5.86', '0', '31.21', '58', '0'],
 ['145', '109', '6.14', '0', '24.72', '40', '0'],
 ['146', '144', '3.84', '0', '22.1', '40', '0'],
 ['147', '118', '3.16', '1', '22.09', '31', '0'],
 ['148', '136', '6.38', '1', '28.73', '43', '1'],
 ['149', '136', '6.06', '0', '29.38', '33', '1'],
 ['150', '124', '5.05', '0', '23.22', '61', '1'],
 ['151', '148', '6.49', '0', '24.7', '55', '0'],
 ['152', '128', '3.58', '0', '24.15', '52', '0'],
 ['153', '122', '4.19', '0', '25.63', '24', '0'],
 ['154', '108', '2.74', '0', '22.61', '20', '0'],
 ['155', '124', '4.8', '1', '21.78', '41', '1'],
 ['156', '138', '3.12', '1', '23.33', '55', '1'],
 ['157', '127', '2.81', '0', '22.03', '17', '0'],
 ['158', '174', '5.13', '0', '30.71', '53', '0'],
 ['159', '122', '3.05', '0', '25.81', '38', '0'],
 ['160', '144', '5.45', '0', '25.62', '43', '1'],
 ['161', '126', '6.22', '0', '24.81', '31', '0'],
 ['162', '208', '3.12', '0', '27.45', '62', '1'],
 ['163', '138', '2.68', '0', '22.16', '16', '0'],
 ['164', '148', '3.84', '0', '20', '21', '0'],
 ['165', '122', '3.08', '0', '22.13', '16', '0'],
 ['166', '132', '3.2', '0', '23.64', '49', '0'],
 ['167', '110', '4.99', '0', '27.14', '55', '1'],
 ['168', '160', '8.12', '1', '25.87', '43', '1'],
 ['169', '126', '4.39', '1', '25.99', '25', '0'],
 ['170', '162', '7.95', '1', '36.06', '48', '0'],
 ['171', '194', '6.89', '1', '29.33', '41', '0'],
 ['172', '118', '2.58', '0', '24.46', '32', '0'],
 ['173', '124', '4.79', '0', '26.09', '47', '0'],
 ['174', '160', '2.42', '0', '29.83', '61', '0'],
 ['175', '128', '2.51', '1', '22.05', '62', '0'],
 ['176', '122', '5.24', '1', '26.52', '61', '1'],
 ['177', '132', '2.7', '1', '27.95', '37', '0'],
 ['178', '120', '2.42', '0', '20.16', '17', '0'],
 ['179', '128', '8.22', '0', '26.24', '24', '0'],
 ['180', '108', '4.91', '0', '27.96', '56', '0'],
 ['181', '166', '4.31', '0', '30.14', '56', '0'],
 ['182', '152', '6.06', '1', '40.34', '51', '0'],
 ['183', '170', '4.67', '1', '27.14', '60', '1'],
 ['184', '156', '2.05', '1', '21.48', '39', '1'],
 ['185', '116', '6.73', '1', '26.74', '48', '1'],
 ['186', '122', '3.18', '1', '21.94', '33', '1'],
 ['187', '150', '6.4', '0', '28.88', '63', '0'],
 ['188', '129', '5.17', '0', '25.42', '39', '0'],
 ['189', '134', '6.58', '1', '24.73', '63', '0'],
 ['190', '126', '5.98', '1', '25.39', '64', '1'],
 ['191', '142', '3.72', '0', '24.37', '40', '1'],
 ['192', '128', '4.9', '1', '35.94', '49', '1'],
 ['193', '102', '3.41', '1', '23.59', '39', '1'],
 ['194', '130', '4.89', '0', '30.42', '23', '0'],
 ['195', '138', '2.79', '0', '21.62', '18', '0'],
 ['196', '138', '1.96', '1', '22.01', '21', '0'],
 ['197', '128', '3.09', '0', '25.63', '17', '0'],
 ['198', '162', '3.63', '0', '31.59', '42', '0'],
 ['199', '160', '9.19', '1', '28.25', '54', '1'],
 ['200', '148', '4.66', '0', '25.26', '27', '0'],
 ['201', '124', '2.44', '0', '24.58', '23', '0'],
 ['202', '136', '4.37', '1', '25.12', '31', '1'],
 ['203', '134', '5.51', '0', '29.87', '33', '0'],
 ['204', '128', '3.97', '0', '23.81', '64', '0'],
 ['205', '122', '3.59', '1', '24.96', '58', '0'],
 ['206', '152', '4.64', '0', '29.34', '40', '0'],
 ['207', '162', '5.09', '1', '26.71', '18', '0'],
 ['208', '124', '6.65', '1', '28.4', '60', '0'],
 ['209', '136', '5.9', '0', '25.71', '59', '0'],
 ['210', '136', '4.26', '1', '31.44', '60', '0'],
 ['211', '134', '8.03', '0', '26.88', '60', '0'],
 ['212', '122', '5.88', '1', '31.27', '40', '1'],
 ['213', '116', '3.05', '0', '23.63', '44', '0'],
 ['214', '132', '0.98', '0', '26.75', '53', '0'],
 ['215', '134', '2.4', '0', '22.45', '18', '0'],
 ['216', '160', '8.07', '0', '31.15', '62', '1'],
 ['217', '180', '4.23', '0', '22.56', '45', '1'],
 ['218', '124', '6.16', '0', '21.47', '26', '0'],
 ['219', '114', '4.97', '0', '22.6', '25', '0'],
 ['220', '208', '7.41', '0', '27.62', '57', '0'],
 ['221', '138', '3.14', '0', '20.28', '16', '0'],
 ['222', '164', '6.95', '1', '41.76', '46', '1'],
 ['223', '144', '8.13', '0', '27.38', '60', '0'],
 ['224', '136', '7.39', '1', '25.01', '45', '1'],
 ['225', '132', '3.52', '0', '19.48', '56', '0'],
 ['226', '143', '4.86', '0', '24.69', '42', '0'],
 ['227', '112', '7.18', '1', '27.29', '32', '1'],
 ['228', '134', '3.79', '0', '28.33', '52', '1'],
 ['229', '138', '5.11', '1', '27.25', '64', '1'],
 ['230', '188', '5.47', '1', '28.99', '50', '1'],
 ['231', '110', '3.36', '1', '26.08', '58', '1'],
 ['232', '136', '7.18', '0', '29.19', '62', '0'],
 ['233', '130', '5.46', '0', '29.42', '58', '1'],
 ['234', '122', '3.76', '0', '24.36', '30', '0'],
 ['235', '138', '3.24', '0', '25.7', '29', '0'],
 ['236', '130', '4.13', '0', '27.44', '51', '1'],
 ['237', '126', '3.78', '0', '28.85', '61', '0'],
 ['238', '176', '4.89', '1', '27.3', '57', '0'],
 ['239', '122', '5.49', '0', '23.12', '27', '0'],
 ['240', '124', '3.23', '0', '22.7', '16', '0'],
 ['241', '140', '3.58', '0', '27.29', '45', '1'],
 ['242', '128', '4.37', '1', '26.01', '47', '0'],
 ['243', '190', '5.05', '0', '26.09', '41', '0'],
 ['244', '144', '10.53', '0', '34.35', '55', '1'],
 ['245', '126', '7.4', '1', '28.67', '60', '1'],
 ['246', '128', '2.63', '0', '21.59', '57', '0'],
 ['247', '136', '3.91', '1', '22.3', '56', '1'],
 ['248', '158', '4.18', '1', '25.11', '60', '0'],
 ['249', '160', '6.94', '0', '25.68', '64', '0'],
 ['250', '124', '5.21', '1', '29.37', '58', '1'],
 ['251', '158', '8.12', '0', '27.84', '48', '0'],
 ['252', '128', '6.34', '0', '23.14', '17', '0'],
 ['253', '166', '3.82', '0', '20.86', '63', '1'],
 ['254', '146', '7.21', '1', '22.51', '42', '0'],
 ['255', '161', '4.65', '1', '23.76', '46', '0'],
 ['256', '164', '6.26', '1', '22.75', '54', '1'],
 ['257', '146', '7.03', '1', '36.46', '37', '1'],
 ['258', '142', '3.57', '1', '23.54', '49', '0'],
 ['259', '138', '5.13', '0', '24.49', '58', '1'],
 ['260', '154', '7.13', '1', '35.51', '44', '0'],
 ['261', '118', '2.39', '0', '18.46', '17', '1'],
 ['263', '124', '2.69', '1', '22.76', '20', '0'],
 ['264', '124', '2.84', '1', '20.17', '61', '0'],
 ['265', '136', '4.19', '1', '27.8', '35', '0'],
 ['266', '132', '4.63', '1', '23.39', '52', '1'],
 ['267', '118', '1.96', '0', '20.01', '18', '0'],
 ['268', '118', '4.16', '0', '19.61', '17', '0'],
 ['269', '134', '4.96', '0', '24.86', '57', '0'],
 ['270', '114', '3.95', '1', '20.31', '16', '0'],
 ['271', '136', '7.84', '1', '26.2', '45', '1'],
 ['272', '130', '4.16', '1', '30.01', '55', '1'],
 ['273', '136', '4.16', '0', '37.24', '41', '1'],
 ['274', '136', '3.16', '1', '24.98', '24', '0'],
 ['275', '154', '5.59', '0', '25.02', '43', '0'],
 ['276', '108', '2.47', '0', '22.18', '55', '1'],
 ['277', '136', '4.69', '1', '26.56', '63', '1'],
 ['278', '174', '6.57', '1', '28.75', '64', '1'],
 ['279', '124', '8.22', '0', '25.8', '43', '0'],
 ['280', '114', '2.63', '0', '17.89', '16', '0'],
 ['281', '118', '3.26', '0', '22.65', '16', '0'],
 ['282', '106', '4.37', '0', '24.07', '28', '1'],
 ['283', '146', '3.51', '0', '22.29', '42', '0'],
 ['284', '206', '4.17', '0', '27.36', '50', '1'],
 ['285', '134', '3.17', '0', '26.37', '27', '0'],
 ['286', '148', '4.98', '1', '31.83', '41', '1'],
 ['287', '126', '3.95', '0', '22.17', '17', '0'],
 ['288', '134', '3.69', '0', '27.66', '19', '0'],
 ['289', '134', '2.8', '0', '24.82', '17', '0'],
 ['290', '123', '4.61', '0', '23.23', '16', '0'],
 ['291', '112', '5.28', '0', '27.02', '38', '1'],
 ['292', '112', '1.71', '0', '22.03', '16', '0'],
 ['293', '101', '7.26', '0', '19.82', '16', '0'],
 ['294', '150', '4.14', '0', '23.43', '44', '0'],
 ['295', '170', '7.22', '1', '27.87', '56', '1'],
 ['296', '134', '5.63', '0', '32.33', '34', '0'],
 ['297', '142', '4.19', '0', '23.65', '42', '1'],
 ['298', '132', '3.28', '0', '20.42', '17', '0'],
 ['299', '136', '2.28', '0', '22.59', '17', '0'],
 ['300', '132', '4.51', '0', '26.07', '46', '1'],
 ['301', '166', '4', '1', '29.51', '53', '0'],
 ['302', '138', '3.96', '1', '23.8', '45', '0'],
 ['303', '138', '6.41', '0', '30.22', '32', '1'],
 ['304', '170', '3.12', '0', '35.42', '53', '0'],
 ['305', '128', '8.41', '1', '26.86', '59', '1'],
 ['306', '136', '2.78', '0', '22.51', '27', '0'],
 ['307', '128', '3.22', '1', '26.59', '49', '0'],
 ['308', '150', '5.04', '1', '28.84', '45', '0'],
 ['309', '132', '3.57', '0', '18.75', '59', '1'],
 ['310', '142', '2.55', '0', '26.09', '37', '0'],
 ['311', '130', '2.44', '1', '30.86', '34', '0'],
 ['312', '174', '5.26', '1', '22.04', '59', '1'],
 ['313', '114', '2.51', '0', '25.67', '46', '0'],
 ['314', '162', '2.46', '1', '24.32', '59', '1'],
 ['315', '174', '3.27', '0', '37.71', '44', '0'],
 ['316', '190', '6.03', '0', '30.31', '50', '0'],
 ['317', '154', '1.72', '0', '22.67', '59', '0'],
 ['318', '124', '2.28', '1', '22.24', '38', '0'],
 ['319', '114', '3.98', '0', '23.79', '26', '0'],
 ['320', '168', '5.08', '1', '27.04', '59', '1'],
 ['321', '142', '4.24', '0', '24.98', '51', '0'],
 ['322', '154', '4.81', '1', '25.67', '59', '0'],
 ['323', '146', '4.31', '1', '24.72', '38', '0'],
 ['324', '166', '3.02', '0', '24.38', '61', '0'],
 ['325', '140', '3.9', '1', '28.51', '64', '1'],
 ['326', '136', '3.53', '0', '19.44', '55', '0'],
 ['327', '156', '3.47', '0', '28.4', '36', '1'],
 ['328', '132', '6.63', '1', '29.41', '62', '0'],
 ['329', '128', '2.98', '0', '20.74', '19', '0'],
 ['330', '106', '3.2', '0', '20.29', '39', '0'],
 ['331', '144', '4.64', '0', '27.39', '55', '0'],
 ['332', '154', '2.33', '0', '24', '17', '0'],
 ['333', '126', '2.01', '1', '28.63', '45', '0'],
 ['334', '134', '8.49', '1', '28.94', '51', '1'],
 ['335', '152', '4.22', '0', '23.95', '59', '1'],
 ['336', '146', '6.39', '0', '26.43', '59', '1'],
 ['337', '162', '4.55', '1', '27.09', '43', '0'],
 ['338', '130', '3.56', '1', '26.8', '58', '1'],
 ['339', '138', '7.24', '0', '28.69', '59', '0'],
 ['340', '148', '5.32', '1', '32.21', '27', '0'],
 ['341', '124', '2.94', '0', '30.31', '30', '0'],
 ['342', '118', '9.01', '0', '25.89', '40', '0'],
 ['343', '116', '7.02', '1', '23.31', '52', '1'],
 ['344', '162', '5.73', '1', '20.43', '53', '1'],
 ['345', '138', '1.87', '0', '26.76', '31', '0'],
 ['346', '137', '3.14', '0', '24.13', '37', '0'],
 ['347', '198', '11.89', '1', '28.4', '26', '1'],
 ['348', '154', '4.75', '1', '25.76', '53', '1'],
 ['349', '128', '2.36', '0', '18.36', '61', '0'],
 ['350', '130', '5.59', '1', '24.98', '43', '1'],
 ['351', '162', '4.24', '0', '22.91', '60', '0'],
 ['352', '120', '2.7', '1', '24.5', '49', '0'],
 ['353', '136', '2.58', '1', '22.41', '36', '0'],
 ['354', '176', '8.28', '1', '27.81', '58', '1'],
 ['355', '134', '4.01', '1', '21.79', '61', '1'],
 ['356', '122', '5.28', '1', '24.08', '54', '0'],
 ['357', '134', '3.18', '1', '23.26', '58', '1'],
 ['358', '134', '2.43', '0', '26.49', '24', '0'],
 ['359', '136', '6.08', '0', '33.28', '49', '0'],
 ['360', '132', '5.15', '1', '26.67', '50', '0'],
 ['361', '152', '3.58', '0', '27.03', '32', '0'],
 ['362', '132', '5.96', '1', '30.12', '62', '1'],
 ['363', '124', '3.67', '0', '28.08', '34', '0'],
 ['364', '140', '2.91', '1', '24.7', '48', '0'],
 ['365', '166', '2.42', '1', '26.96', '60', '0'],
 ['366', '156', '5.35', '1', '25.22', '52', '1'],
 ['367', '132', '4.37', '0', '26.11', '28', '0'],
 ['368', '150', '4.99', '0', '30.92', '24', '0'],
 ['369', '134', '3.4', '1', '26.27', '30', '0'],
 ['370', '126', '4.87', '1', '22.01', '38', '0'],
 ['371', '148', '5.97', '0', '29.27', '42', '0'],
 ['372', '148', '7.75', '1', '26.53', '64', '1'],
 ['373', '132', '5.97', '1', '24.18', '41', '0'],
 ['374', '128', '5.41', '0', '29.38', '32', '0'],
 ['375', '128', '4.9', '1', '26.42', '64', '0'],
 ['376', '140', '2.4', '1', '30.74', '29', '0'],
 ['377', '126', '5.29', '0', '27.62', '45', '0'],
 ['378', '114', '4.16', '0', '24.49', '31', '0'],
 ['379', '118', '4.69', '1', '27.16', '53', '0'],
 ['380', '126', '4.99', '0', '33.35', '38', '0'],
 ['381', '154', '4.68', '0', '33.17', '64', '1'],
 ['382', '112', '2.71', '0', '24.81', '52', '0'],
 ['383', '140', '4.42', '1', '32.77', '44', '0'],
 ['384', '140', '11.41', '1', '30.75', '38', '1'],
 ['385', '128', '4.94', '0', '21.3', '31', '0'],
 ['386', '126', '6.03', '0', '26.99', '44', '0'],
 ['387', '160', '6.76', '1', '32.91', '54', '1'],
 ['388', '144', '4.17', '1', '21.83', '59', '0'],
 ['389', '148', '10.49', '0', '25.92', '53', '1'],
 ['390', '146', '4.92', '0', '24.2', '26', '0'],
 ['391', '164', '3.17', '1', '25.99', '53', '1'],
 ['392', '130', '3.63', '1', '24.34', '39', '1'],
 ['393', '154', '5.63', '1', '35.07', '50', '1'],
 ['394', '178', '4.75', '0', '23.74', '61', '0'],
 ['395', '180', '3.57', '0', '26.7', '64', '0'],
 ['396', '134', '2.73', '0', '35.58', '48', '0'],
 ['397', '142', '3.54', '0', '25.97', '27', '0'],
 ['398', '162', '7.67', '1', '30.77', '62', '0'],
 ['399', '218', '2.77', '0', '24.86', '48', '1'],
 ['400', '126', '6.06', '1', '27', '55', '1'],
 ['401', '126', '3.57', '0', '26.3', '47', '0'],
 ['402', '134', '4.77', '0', '23.82', '49', '0'],
 ['403', '132', '4.17', '0', '30.61', '49', '0'],

In [5]:
# header와 나머지 분리
header, values = lines[0], lines[1:30]

In [6]:
# dictionary 화 해서 저장
# zip 으로 대응되는 순서에 맞게 묶기
data_dict = {h: v for h, v in zip(header, zip(*values))}
data_dict

{'Case': ('1',
  '2',
  '3',
  '4',
  '5',
  '6',
  '7',
  '8',
  '9',
  '10',
  '11',
  '12',
  '13',
  '14',
  '15',
  '16',
  '17',
  '18',
  '19',
  '20',
  '21',
  '22',
  '23',
  '24',
  '25',
  '26',
  '27',
  '28',
  '29'),
 'x1': ('160',
  '144',
  '118',
  '170',
  '134',
  '132',
  '142',
  '114',
  '114',
  '132',
  '206',
  '134',
  '118',
  '132',
  '112',
  '117',
  '120',
  '146',
  '158',
  '124',
  '106',
  '132',
  '150',
  '138',
  '142',
  '124',
  '118',
  '145',
  '144'),
 'x2': ('5.73',
  '4.41',
  '3.48',
  '6.41',
  '3.5',
  '6.47',
  '3.38',
  '4.59',
  '3.83',
  '5.8',
  '2.95',
  '4.44',
  '1.88',
  '1.87',
  '2.29',
  '2.44',
  '15.33',
  '8.29',
  '7.46',
  '6.23',
  '1.74',
  '2.85',
  '6.38',
  '3.81',
  '4.34',
  '12.42',
  '9.65',
  '5.24',
  '5.55'),
 'x3': ('1',
  '0',
  '1',
  '1',
  '1',
  '1',
  '0',
  '1',
  '1',
  '1',
  '0',
  '1',
  '0',
  '0',
  '1',
  '1',
  '0',
  '1',
  '1',
  '1',
  '0',
  '1',
  '1',
  '0',
  '0',
  '1',
  '0',
  '0',
  '1'),
 'x4': ('25.3',
  '28.87',
  '29.14',
  '31.99',
  '25.99',
  '30.77',
  '20.81',
  '23.11',
  '24.86',
  '30.11',
  '26.81',
  '23.09',
  '21.57',
  '23.63',
  '23.53',
  '25.89',
  '25.31',
  '32.73',
  '29.3',
  '30.09',
  '20.92',
  '26.16',
  '24.64',
  '28.7',
  '26.19',
  '23.23',
  '38.8',
  '20.96',
  '29.43'),
 'x5': ('52',
  '63',
  '46',
  '58',
  '49',
  '45',
  '38',
  '58',
  '29',
  '53',
  '60',
  '40',
  '17',
  '15',
  '53',
  '46',
  '49',
  '53',
  '62',
  '59',
  '20',
  '44',
  '50',
  '58',
  '50',
  '42',
  '48',
  '61',
  '56'),
 'HeartDisease': ('1',
  '1',
  '0',
  '1',
  '1',
  '0',
  '0',
  '1',
  '0',
  '1',
  '1',
  '1',
  '0',
  '0',
  '0',
  '0',
  '0',
  '1',
  '1',
  '1',
  '1',
  '0',
  '0',
  '0',
  '0',
  '1',
  '0',
  '1',
  '0')}

JSON data csv 보다 더 free-form한 format
모든 key들이 string이어야된다.

In [7]:
obj = """
{"name": "Wes",
 "places_lived": ["United States", "Spain", "Germany"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
              {"name": "Katie", "age": 38,
               "pets": ["Sixes", "Stache", "Cisco"]}]
}
"""

In [8]:
import json
result = json.loads(obj)
result

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
  {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}

In [9]:
# 반대로 json 에서 python으로
asjson = json.dumps(result)

In [10]:
# json 에서 dataframe으로
siblings = pd.DataFrame(result['siblings'], columns=['name', 'age'])
siblings
# 혹은 pandas.read_json으로
# 이때 각 object 들이 row이다.

    name  age
0  Scott   30
1  Katie   38

HTML, XML : html based file들을 library 통해서 처리할 수 있다
여러 웹 파일이 이런 형식이니 크롤링에 유용...

In [17]:
!pip install lxml 
!pip install beautifulsoup4 html5lib

Requirement already satisfied: lxml in c:\users\minzz\anaconda3\lib\site-packages (4.5.0)

WARNING: You are using pip version 20.2.1; however, version 21.0.1 is available.
You should consider upgrading via the 'c:\users\minzz\anaconda3\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: beautifulsoup4 in c:\users\minzz\anaconda3\lib\site-packages (4.8.2)
Requirement already satisfied: html5lib in c:\users\minzz\anaconda3\lib\site-packages (1.0.1)
Requirement already satisfied: soupsieve>=1.2 in c:\users\minzz\anaconda3\lib\site-packages (from beautifulsoup4) (1.9.5)
Requirement already satisfied: webencodings in c:\users\minzz\anaconda3\lib\site-packages (from html5lib) (0.5.1)
Requirement already satisfied: six>=1.9 in c:\users\minzz\anaconda3\lib\site-packages (from html5lib) (1.14.0)

WARNING: You are using pip version 20.2.1; however, version 21.0.1 is available.
You should consider upgrading via the 'c:\users\minzz\anaconda3\python.exe -m pip install --upgrade pip' command.

In [19]:
tables = pd.read_html('/Statistics/pydata-book-2nd-edition/pydata-book-2nd-edition/examples/fdic_failed_bank_list.html')
len(tables)

1

In [20]:
failures = tables[0]
failures.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","November 17, 2016"
1,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","November 17, 2016"
2,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016","September 6, 2016"
3,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,"April 29, 2016","September 6, 2016"
4,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,"March 11, 2016","June 16, 2016"

In [21]:
# 연도별 bank failure count
close_timestamps = pd.to_datetime(failures['Closing Date'])
close_timestamps.dt.year.value_counts()

2010    157
2009    140
2011     92
2012     51
2008     25
2013     24
2014     18
2002     11
2015      8
2016      5
2004      4
2001      4
2007      3
2003      3
2000      2
Name: Closing Date, dtype: int64

xml도 비슷하다
그런데 이건 많이 못 본듯...

In [22]:
from lxml import objectify

path = '/Statistics/pydata-book-2nd-edition/pydata-book-2nd-edition/datasets/mta_perf/Performance_MNR.xml'
parsed = objectify.parse(open(path))
root = parsed.getroot()

In [23]:
data = []

skip_fields = ['PARENT_SEQ', 'INDICATOR_SEQ',
               'DESIRED_CHANGE', 'DECIMAL_PLACES']

for elt in root.INDICATOR:
    el_data = {}
    for child in elt.getchildren():
        if child.tag in skip_fields:
            continue
        el_data[child.tag] = child.pyval
    data.append(el_data)

In [24]:
perf = pd.DataFrame(data)
perf.head()

,AGENCY_NAME,INDICATOR_NAME,DESCRIPTION,PERIOD_YEAR,PERIOD_MONTH,CATEGORY,FREQUENCY,INDICATOR_UNIT,YTD_TARGET,YTD_ACTUAL,MONTHLY_TARGET,MONTHLY_ACTUAL
0,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,1,Service Indicators,M,%,95,96.9,95,96.9
1,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,2,Service Indicators,M,%,95,96,95,95
2,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,3,Service Indicators,M,%,95,96.3,95,96.9
3,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,4,Service Indicators,M,%,95,96.8,95,98.3
4,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,5,Service Indicators,M,%,95,96.6,95,95.8

In [27]:
from io import StringIO
tag = '<a href="http://www.google.com">Google</a>'
root = objectify.parse(StringIO(tag)).getroot()
root.get('href')

'http://www.google.com'

# 6.2 binary data format

In [29]:
# pickle: binary format
# 그중 HDF5: 많은 양의 데이터 저장에 적합
# 다른 언어들(자바, c, 매트랩 등)에도 가능
frame = pd.DataFrame({'a': np.random.randn(100)})

In [37]:
store = pd.HDFStore('mydata.h5')

In [38]:
store['obj1'] = frame
store['obj1_col'] = frame['a']
store

<class 'pandas.io.pytables.HDFStore'>
File path: mydata.h5

In [39]:
store['obj1']

           a
0   0.458480
1   1.017624
2   1.609593
3   0.834558
4  -0.421025
..       ...
95 -1.895692
96 -0.420142
97 -0.212606
98 -1.730048
99  0.039470

[100 rows x 1 columns]

In [40]:
store['obj1_col']

0     0.458480
1     1.017624
2     1.609593
3     0.834558
4    -0.421025
        ...
95   -1.895692
96   -0.420142
97   -0.212606
98   -1.730048
99    0.039470
Name: a, Length: 100, dtype: float64

In [41]:
store['obj2']

           a
0   0.458480
1   1.017624
2   1.609593
3   0.834558
4  -0.421025
..       ...
95 -1.895692
96 -0.420142
97 -0.212606
98 -1.730048
99  0.039470

[100 rows x 1 columns]

fixed 와 table format이 있음. table이 느리지만 query operation이 가능

In [48]:
store.open()
store.put('obj2', frame, format='table')
store.select('obj2', where=['index >= 10 and index <= 15'])

           a
10  1.272294
11  0.843253
12 -1.654699
13  1.438345
14  1.019508
15  0.527821

엑셀 파일: read_excel로 xlsx 파일 열기
read_excel('이름', 'sheet1') 이렇게 하면 sheet 도 고를 수 있음
쓸 때는 pd.ExcelWriter()로 파일 만든 후 frame.to_excel()하고 .save 하면 됨.(혹은 그냥 frame.to_excel()로)

# 6.3 Interacting with Web APIs

In [49]:
# 웹사이트의 API 불러오기
import requests
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'
resp = requests.get(url)
resp

In [50]:
# 결국 github page의 모든 데이터를 포함하는 dictionary 가 나옴
data = resp.json()
data[0]['title']

'Backport PR #39615: BUG: fix Categorical.astype for dtype=np.int32 argument'

In [51]:
issues = pd.DataFrame(data, columns=['number', 'title',
                                     'labels', 'state'])
issues

,number,title,labels,state
0,39676,Backport PR #39615: BUG: fix Categorical.astyp...,"[{'id': 78527356, 'node_id': 'MDU6TGFiZWw3ODUy...",open
1,39675,BUG: pd.to_timedelta needs rounding argument t...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
2,39674,Backport PR #39658 on branch 1.2.x (DOC: pin s...,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
3,39673,Backport PR #39670 on branch 1.2.x (DOC: 1.2.2...,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
4,39672,Pandas dataframe pct_change function arguments,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
5,39671,BUG: Undesired non-deterministic reordering wh...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
6,39669,DOC: Start v1.2.3 release notes,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
7,39667,CLN: minor error msg fix,"[{'id': 211029535, 'node_id': 'MDU6TGFiZWwyMTE...",open
8,39666,run database tests only #39550,[],open
9,39664,PERF: ExpandingGroupby,"[{'id': 8935311, 'node_id': 'MDU6TGFiZWw4OTM1M...",open
10,39662,Enhancement dataframe to csv use zip method,[],open
11,39660,CLN: Styler Types for CSS variables on `ctx` o...,"[{'id': 211029535, 'node_id': 'MDU6TGFiZWwyMTE...",open
12,39656,"BUG: Series[dt64tz].__setitem__(mask, differen...",[],open
13,39651,"REF: implement Index._view, Index._rename",[],open
14,39650,BUG: equals/assert_numpy_array_equals with non...,"[{'id': 2822342, 'node_id': 'MDU6TGFiZWwyODIyM...",open
15,39649,BUG: Categorical.from_codes casts nullable int...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
16,39648,DOC: fix an incomplete sentence,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
17,39644,"fix #39556 (infer_freq not working with freq=""...","[{'id': 211840, 'node_id': 'MDU6TGFiZWwyMTE4ND...",open
18,39641,"Revert ""Backport PR #39526 on branch 1.2.x (CI...","[{'id': 77550281, 'node_id': 'MDU6TGFiZWw3NzU1...",open
19,39640,DOC: Series.pad has template variables that ar...,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
20,39638,API: transform behaves differently with 'ffill...,"[{'id': 2822342, 'node_id': 'MDU6TGFiZWwyODIyM...",open
21,39630,ENH: Series.explode_range,"[{'id': 35818298, 'node_id': 'MDU6TGFiZWwzNTgx...",open
22,39624,CI/TST: Disallow usage of pytest.xfail,"[{'id': 48070600, 'node_id': 'MDU6TGFiZWw0ODA3...",open
23,39623,BUG: Series.loc raising KeyError for Iterator ...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
24,39622,PERF: slowdown in groupby/resample mean() method,"[{'id': 8935311, 'node_id': 'MDU6TGFiZWw4OTM1M...",open
25,39621,BUG: Calling pop() on a row inside apply() aff...,"[{'id': 697792067, 'node_id': 'MDU6TGFiZWw2OTc...",open
26,39617,BUG: .query() using uint64 column fails with T...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
27,39616,BUG: astyping Categorical to nullable integer ...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
28,39614,QST: Why is indexing with a reversed list poss...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
29,39612,[ArrayManager] REF: Implement concat with rein...,"[{'id': 49094459, 'node_id': 'MDU6TGFiZWw0OTA5...",open

# 6.4 Interacting with Databases

In [ ]:
사실 현장에서는  SQL을 많이 쓴다.

In [52]:
# sqlite 이용한 database 생성
import sqlite3
query = """
CREATE TABLE test
(a VARCHAR(20), b VARCHAR(20),
 c REAL,        d INTEGER
);"""
con = sqlite3.connect('mydata.sqlite')
con.execute(query)
con.commit()

In [53]:
# data 집어넣기
data = [('Atlanta', 'Georgia', 1.25, 6),
        ('Tallahassee', 'Florida', 2.6, 3),
        ('Sacramento', 'California', 1.7, 5)]
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"
con.executemany(stmt, data)
con.commit()

In [54]:
cursor = con.execute('select * from test')
rows = cursor.fetchall()
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [55]:
cursor.description # column name 확인

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [56]:
# 최종적으로 sql에서 dataframe으로
pd.DataFrame(rows, columns=[x[0] for x in cursor.description])

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

In [ ]:
# SQLAlchemy 이용한 read_sql로 바로 바꿀 수 있다

In [57]:
import sqlalchemy as sqla
db = sqla.create_engine('sqlite:///mydata.sqlite')
pd.read_sql('select * from test', db)

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5